In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

/Users/joemccann/VENVs/fpENV/lib/python3.9/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
def getTables(week,year):
    url = 'https://www.fantasypros.com/nfl/advanced-stats-rb.php?week={}&range=week&year={}'.format(week,year)
    response = requests.get(url)

    if response.status_code == 200:
        return response.text
    else:
        print("Failed to retrieve the page.")

In [3]:
column_names = ['rank', 'player', 'games', 'att', 'yds', 'y/att', 'ybcon', 'ybon/att', 'rush_yacon', 'yacon/att', 'brktkl', 'tk_loss', 'tk_loss_yds', 'lng_td', '10_plus_yds', '20_plus_yds', '30_plus_yds', '40_plus_yds', '50_plus_yds', 'lng', 'rec', 'tgt', 'rz_tgt', 'rec_yacon']

In [34]:
def create_RB_weekly_report(week, year, column_names):
    page_content = getTables(week, year)
    soup = BeautifulSoup(page_content, 'html.parser')
    
    table = soup.find('table')
    
    table_data = []
    for row in table.find_all('tr'):
        row_data = [cell.text.strip() for cell in row.find_all('td')]
        table_data.append(row_data)
    
    report_df = pd.DataFrame(table_data)
    report_df.columns = column_names
    report_df = report_df.drop([0, 1], axis=0)
    report_df.columns = [column.lower() for column in report_df.columns]
    report_df['week'] = week
    report_df['year'] = year
   
    return report_df

In [39]:
create_RB_weekly_report(7,2023,column_names).head()

,rank,player,games,att,yds,y/att,ybcon,ybon/att,rush_yacon,yacon/att,...,30_plus_yds,40_plus_yds,50_plus_yds,lng,rec,tgt,rz_tgt,rec_yacon,week,year
2,1,D'Onta Foreman (CHI),1,16,89,5.6,83,5.2,6,0.4,...,0,0,0,14,3,5,2,2,7,2023
3,2,Gus Edwards (BAL),1,14,64,4.6,29,2.1,35,2.5,...,0,0,0,20,1,1,0,10,7,2023
4,3,Travis Etienne Jr. (JAC),1,14,53,3.8,35,2.5,18,1.3,...,0,0,0,17,3,5,0,2,7,2023
5,4,Christian McCaffrey (SF),1,15,45,3.0,25,1.7,20,1.3,...,0,0,0,9,3,3,0,32,7,2023
6,5,Jahmyr Gibbs (DET),1,11,68,6.2,47,4.3,21,1.9,...,0,0,0,21,9,10,1,8,7,2023

In [53]:
for year in range(2013, 2015):
    for week in range(1, 14):
        create_RB_weekly_report(week,year,column_names)

AttributeError: module 'pandas' has no attribute 'append'